<style media="screen">

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  body, html {
    height: 100%;
    min-height: 100%;
    background-image: url(../../public/assets/images/pill.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logged-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: .5fr 6fr;
    grid-template-rows: 50px 300px;
    grid-template-areas: 'nav header'
                         'nav body'
                         'nav body'
                         'nav body'

  }

  .log-in-nav {
    padding: 20px;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: green;
  }

  .header-container {
    grid-area: header;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .body-container {
    grid-area: body;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .body-container div {
    border: 1px solid #fff;
    margin: 70px;
  }

</style>


<div class="logged-wrapper">

  <div class="log-in-nav">
    <h1>Logo</h1>
    <h1>Name</h1>
    <h1>Profile</h1>
    <h1>Setting</h>
    <h1>Logout</h1>
  </div>

  <div class="header-container">
    <h1>RxControl.io</h1>
    <h1>Home</h1>
  </div>


  <div class="body-container">

    <div class="add-patient">
      Add
    </div>

    <div class="search-patient">
      Search
    </div>

    <div class="pasted-patient">
      Past Patient
    </div>

    <div class="pasted-prescribed">
      Past Prescribed
    </div>

  </div>

</div>
